<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2FA | Verify</title>
</head>
<body>

    <div>
        <form action="/verify" method="post">
            <h2>Verify</h2>
            <div>
                <label for="code">Verification code</label>
                <input type="text" id="code" maxlength="6" name="code" />
                <button type="submit">Verify</button>
            </div>
        </form>
        <hr>
        <form action="/sendtwofactor" method="post">
            <div>
                <input type="radio" name="otp" value="sms" checked /> 2FA via sms
                <input type="radio" name="otp" value="email" /> 2FA via email
                <button type="submit">Send 2FA</button>
            </div>
        </form>
    </div>
   
    <div>
        <p>{{alert}}</p>
    </div>
    <div>
        <p>{{success_msg}}</p>
    </div>
</body>
</html>
